.cliquable {
    cursor: pointer;
}

.active {
    font-weight: bold;
    color: var(--active-tab-color);
}

.not-active:hover {
    color: var(--tab-color-hover);
}

.active-sub-tab {
    font-weight: bold;
    color: var(--active-sub-tab-color);
}