<ul>
    <li>
        <span [ngClass]="{
                        'cliquable': true,
                        'active': tableOfContent.title === subTab[0],
                        'not-active': (tableOfContent.title !== subTab[0]) && !arrayEquals(subTab, tableOfContent.url),
                        'active-sub-tab': (tableOfContent.title !== subTab[0]) && arrayEquals(subTab, tableOfContent.url)
                        }"
               (click)="onContentClick(tableOfContent.url)"
        >
            {{ "navigation." + tableOfContent.title | translate }}
        </span>
    </li>
    <div *ngFor="let content of tableOfContent.items">
        <app-table-content [tableOfContent]="content"></app-table-content>
    </div>
</ul>
