.toggle {
    height: 100%;
    padding-right: var(--side-bar-toggle-padding);
    padding-bottom: var(--side-bar-toggle-padding);
}

.toggle-button {
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
}

.toggle-button:hover {
    color: red;
}
