<div class="box">
    <div class="logo-box d-flex justify-content-between align-items-center">
        <div class="menu" (click)="onToggle()"></div>
        <div class="logo" (click)="onChangeTab('home')"></div>
    </div>
    <div class="tabs-box d-flex align-items-center">
        <div *ngFor="let tab of tabs" class="tab">
            <span [ngClass]="{'cliquable': true, 'not-active': tab !== activeTab, 'active': tab === activeTab}"
                  (click)="onChangeTab(tab)"
            >
                {{ "navigation." + tab | translate }}
            </span>
        </div>
    </div>
    <div class="settings-box d-flex justify-content-end align-items-center">
        <app-language-select></app-language-select>
    </div>
  </div>
  