.cliquable {
    font-weight: bold;
    cursor: pointer;
}

.not-active:hover {
    color: var(--tab-color-hover);
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.logo-box {
    width: var(--logo-box-size);
    height: 100%;
}

.tabs-box {
    padding-left: var(--tabs-box-padding-left);
    width: var(--tabs-box-size);
    height: 100%;
}

.tab {
    margin-left: var(--tab-margin);
    margin-right: var(--tab-margin);
}

.settings-box {
    width: var(--settings-box-size);
    height: 100%;
}

.logo {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.menu {
    background-color: gray;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.active {
    color: darkorange;
}
